body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;
}
.hide {
  display: none;
}
.start {
  text-align: center;
}
.scores {
  position: absolute;
  top: 10px;
  left: 10px;
}
.feedback {
  font-style: normal;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: black;
  border-top: 2px solid rgb(201, 193, 193);
}

.timer {
  position: absolute;
  top: 10px;
  right: 20px;
  color: blue;
}

a {
  color: blue;
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color: #70707a;
}

 button {
    background-color: blue;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
    font-weight: bold;
  }

button:hover {
  background-color: grey;
}

.choices button {
  display: block;
}
p {
  font-size: large;
}


input[type="text"] {
  font-size: 100%;
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  padding: 5px;
  list-style: decimal inside none;
}

li:nth-child(odd) {
  background-color: #dfdae7;
}